<nav class="navbar navbar-expand-lg navbar-dark bg-dark col-md-12 justify-content-between">
   <b> <a class="navbar-brand mx-2 " href="shops" style="color: rgb(18, 99, 165);"> FashionFusion</a></b>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse mx-2" id="navbarNav" style="margin-left: 20px;">
      <ul class="navbar-nav mr-auto">
        <div class="dropdown mx-2">
          <button class="btn btn-ouline-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"  style="color: rgb(255, 253, 253);">
           Category
        </button> 
          <ul class="dropdown-menu" id="category1" >
            {% for product, range, nslides in allprods %}
           <a href="category/{{product.0.category}}"><li class="list-group-item d-flex justify-content-between align-items-center">{{product.0.category}}</li></a>
            {%endfor%}
          </ul>
         
        </div>
       
        <li class="nav-item active">
          <a class="nav-link" href="Tracker">Tracker</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="contact">Contacts</a>
        </li>
        
      </ul>
      <div class="form-inline my-2 my-lg-0">
        <form class="d-flex my-1" role="search" method="get" action="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="search" id="search">
          <button class="btn btn-outline-primary" style="color: rgb(248, 240, 240);" type="submit">Search</button>
        </form>
        <div class="dropdown mx-3" style="color: white;">
          <button class="btn btn-ouline-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"  style="color: rgb(252, 251, 251);">
            My-cart
          (<span id="carty">0</span>)
        </button> 
          <ul class="dropdown-menu popymenu my-3" id="popy" >
           
          </ul>
         
        </div>

        <a href="cart"><button class="btn btn-ouline-success my-2 checkout" style="color: white;" type="button">CHECKOUT</button></a>
      </div>
     
    </div>
  </nav>
  
  